<a href="https://colab.research.google.com/github/gayatribasude/MachineLearning/blob/master/CreditCardFraudDetection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Here lets import our dataset.

In [ ]:
#all imports
import pandas as pd
import numpy as np
from matplotlib import pyplot as pyl
import io

In [ ]:
ls

sample_data/

In [ ]:
cd sample_data/

/content/sample_data

In [ ]:
ls

anscombe.json*                creditcard.csv         README.md*
california_housing_test.csv   mnist_test.csv
california_housing_train.csv  mnist_train_small.csv

In [ ]:
card_dataset = pd.read_csv("creditcard.csv",error_bad_lines=False,sep=',',engine='python',header=None)
# Dataset is now stored in a Pandas Dataframe

In [ ]:
card_dataset.head()

     0                   1   ...      29     30
0  Time                  V1  ...  Amount  Class
1     0    -1.3598071336738  ...  149.62      0
2     0    1.19185711131486  ...    2.69      0
3     1   -1.35835406159823  ...  378.66      0
4     1  -0.966271711572087  ...   123.5      0

[5 rows x 31 columns]

In [ ]:
card_dataset.describe()

            0                 1   ...      29      30
count   284808            284808  ...  284808  284808
unique  124593            275664  ...   32768       3
top     163152  1.24567381944824  ...       1       0
freq        36                77  ...   13688  284315

[4 rows x 31 columns]

In [ ]:
card_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284808 entries, 0 to 284807
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       284808 non-null  object
 1   1       284808 non-null  object
 2   2       284808 non-null  object
 3   3       284808 non-null  object
 4   4       284808 non-null  object
 5   5       284808 non-null  object
 6   6       284808 non-null  object
 7   7       284808 non-null  object
 8   8       284808 non-null  object
 9   9       284808 non-null  object
 10  10      284808 non-null  object
 11  11      284808 non-null  object
 12  12      284808 non-null  object
 13  13      284808 non-null  object
 14  14      284808 non-null  object
 15  15      284808 non-null  object
 16  16      284808 non-null  object
 17  17      284808 non-null  object
 18  18      284808 non-null  object
 19  19      284808 non-null  object
 20  20      284808 non-null  object
 21  21      284808 non-null  object
 22  22      284808 non-null  object
 23  23      284808 non-null  object
 24  24      284808 non-null  object
 25  25      284808 non-null  object
 26  26      284808 non-null  object
 27  27      284808 non-null  object
 28  28      284808 non-null  object
 29  29      284808 non-null  object
 30  30      284808 non-null  object
dtypes: object(31)
memory usage: 67.4+ MB

In [ ]:
card_dataset[30].unique()

array(['Class', '0', '1'], dtype=object)

Here, we can see that Class has value 0 and 1. It may say about Fraud. 1 is for fraud.

In [ ]:
features=card_dataset.iloc[0,:]

In [ ]:
features

0       Time
1         V1
2         V2
3         V3
4         V4
5         V5
6         V6
7         V7
8         V8
9         V9
10       V10
11       V11
12       V12
13       V13
14       V14
15       V15
16       V16
17       V17
18       V18
19       V19
20       V20
21       V21
22       V22
23       V23
24       V24
25       V25
26       V26
27       V27
28       V28
29    Amount
30     Class
Name: 0, dtype: object

In [ ]:
card_dataset=card_dataset.iloc[1:,:]
card_dataset.head()

  0                   1                    2   ...                   28      29 30
1  0    -1.3598071336738  -0.0727811733098497  ...  -0.0210530534538215  149.62  0
2  0    1.19185711131486     0.26615071205963  ...   0.0147241691924927    2.69  0
3  1   -1.35835406159823    -1.34016307473609  ...  -0.0597518405929204  378.66  0
4  1  -0.966271711572087   -0.185226008082898  ...   0.0614576285006353   123.5  0
5  2   -1.15823309349523    0.877736754848451  ...    0.215153147499206   69.99  0

[5 rows x 31 columns]

In [ ]:
# for i in range(1,30):
#   card_dataset[i]=card_dataset[i].astype(float)

# for i in range(1,30):
#   card_dataset[i]=card_dataset[i].convert_objects(convert_numeric=True)

for i in range(0,30):
  card_dataset[i]=pd.to_numeric(card_dataset[i])

In [ ]:
card_dataset.dtypes

0     float64
1     float64
2     float64
3     float64
4     float64
5     float64
6     float64
7     float64
8     float64
9     float64
10    float64
11    float64
12    float64
13    float64
14    float64
15    float64
16    float64
17    float64
18    float64
19    float64
20    float64
21    float64
22    float64
23    float64
24    float64
25    float64
26    float64
27    float64
28    float64
29    float64
30     object
dtype: object

In [ ]:
#lets see range
for i in range(30):
  print(features[i],end=" ")
  print(card_dataset.iloc[:,i].min(),end=" ")
  print(card_dataset.iloc[:,i].max())

Time 0.0 172792.0
V1 -56.407509631329 2.45492999121121
V2 -72.7157275629303 22.0577289904909
V3 -48.3255893623954 9.38255843282114
V4 -5.68317119816995 16.8753440335975
V5 -113.74330671114599 34.8016658766686
V6 -26.1605059358433 73.3016255459646
V7 -43.5572415712451 120.589493945238
V8 -73.21671845526741 20.0072083651213
V9 -13.4340663182301 15.5949946071278
V10 -24.5882624372475 23.7451361206545
V11 -4.79747346479757 12.018913181619899
V12 -18.683714633344298 7.8483920756445995
V13 -5.7918812063208405 7.126882958593759
V14 -19.2143254902614 10.5267660517847
V15 -4.49894467676621 8.87774159774277
V16 -14.1298545174931 17.315111517627802
V17 -25.162799369324798 9.25352625047285
V18 -9.498745921046769 5.04106918541184
V19 -7.21352743017759 5.59197142733558
V20 -54.497720494566 39.4209042482199
V21 -34.8303821448146 27.2028391573154
V22 -10.933143697655 10.5030900899454
V23 -44.807735203791296 22.5284116897749
V24 -2.83662691870341 4.58454913689817
V25 -10.2953970749851 7.51958867870916
V26 -2.60455055280817 3.5173456116237998
V27 -22.5656793207827 31.612198106136304
V28 -15.430083905534898 33.8478078188831
Amount 0.0 25691.16

In [ ]:
from sklearn.model_selection import train_test_split

input_train,input_test,output_train,output_test=train_test_split(card_dataset.iloc[:,0:30],card_dataset.iloc[:,30:31],random_state=42)

In [ ]:
input_train.shape

(213605, 30)

In [ ]:
input_test.shape

(71202, 30)

In [ ]:
output_train.shape

(213605, 1)

In [ ]:
output_test.shape

(71202, 1)

In [ ]:
input_train.head()

             0         1         2   ...        27        28      29
83226   59741.0 -1.648591  1.228130  ... -0.262968 -0.099863   38.42
52801   45648.0 -0.234775 -0.493269  ...  0.089293  0.212029   61.20
21294   31579.0  1.134626 -0.774460  ... -0.061178  0.012180  110.95
133601  80455.0  0.069514  1.017753  ...  0.114440  0.066101   10.00
38226   39302.0 -0.199441  0.610092  ...  0.481769  0.254114   22.00

[5 rows x 30 columns]

In [ ]:
from sklearn.linear_model import LogisticRegression

lr=LogisticRegression()
lr.fit(input_train,output_train)
print("Training data Accuracy:%.3f"%lr.score(input_train,output_train))
print("Testing data Accuracy:%.3f"%lr.score(input_test,output_test))

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

Training data Accuracy:0.999
Testing data Accuracy:0.999

As we can see we need to scale our data

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler=MinMaxScaler()
scaler.fit(input_train)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [ ]:
input_train_scaled=scaler.transform(input_train)
input_test_scaled=scaler.transform(input_test)

In [ ]:
lr.fit(input_train_scaled,output_train)
print("Training data Accuracy:%.3f"%lr.score(input_train_scaled,output_train))
print("Testing data Accuracy:%.3f"%lr.score(input_test_scaled,output_test))

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Training data Accuracy:0.999
Testing data Accuracy:0.999

In [ ]:
ouput_test_predicted=lr.predict(input_test_scaled)

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(output_test, ouput_test_predicted)

array([[71076,    13],
       [   54,    59]])

Precision
= true positive/ (true positive+false positive)

In [ ]:
71076/(71076+54)

0.9992408266554197

here Precision is 1.

Recall= true positive/(true positive+ false negative)

In [ ]:
71076/(71076+13)

0.9998171306390581

Here we can see our model is predicting correct for authentic transcation, as precision and recall are 1.

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(output_test, ouput_test_predicted,
target_names=["not fraud", "fraud"]))

              precision    recall  f1-score   support

   not fraud       1.00      1.00      1.00     71089
       fraud       0.82      0.52      0.64       113

    accuracy                           1.00     71202
   macro avg       0.91      0.76      0.82     71202
weighted avg       1.00      1.00      1.00     71202

still for fraud transcation, recall is less.

As we get a fairly small recall, the classifier focuses on getting "non fraud" right, and not the "fraud" class.

In [ ]:
from imblearn.under_sampling import RandomUnderSampler
rus = RandomUnderSampler()
input_train_rus, output_train_rus = rus.fit_sample(input_train_scaled, output_train)

# check the balanced data
# print(pd.Series(output_rus).value_counts())

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
print("before:",input_train_scaled.shape)
print("after:",input_train_rus.shape)

before: (213605, 30)
after: (758, 30)

In [ ]:
c_1=0
c_0=0
for i in range(758):
  if(output_train_rus[i]=='1'):
    c_1+=1
  else:
    c_0+=1

In [ ]:
print(c_0)

379

In [ ]:
print(c_1)

379

Now out input set has equal no. of fraud and non fraud transction records. It will make good model.

In [ ]:
lr=LogisticRegression()
lr.fit(input_train_rus,output_train_rus)
print("Training data Accuracy:%.3f"%lr.score(input_train_rus,output_train_rus))
print("Testing data Accuracy:%.3f"%lr.score(input_test,output_test))

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Training data Accuracy:0.921
Testing data Accuracy:0.998

This model is definitely better.